/Logs/

/SalesRegister/Data/
/SalesRegister/sales register q1.xlsx
/SalesRegister/HSN_code_summary.xlsx

default_log.log
/SalesRegister/Output.xlsx
/ENV/env.env


/Main/Formatted Sales ledger new.xlsx
/Data/
